#header {
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  width: 100%;
  background: white;
  text-align: center;
  padding: 10px;
  margin: -10px -10px 10px -10px;
  border-bottom: 1px solid grey;
}

.submit {
  text-align: center;
  width: 98%;
  background: #4d94ff;
  padding: 2px;
  border: 2px solid #4d94ff;
  border-radius: 30px;
  margin-top: 3px;
}

.feed {
  margin: 0 auto;
  width: 40%;
}

.feed-box {
  background: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.form.feed-box {
  background: #b3ecff;
  border: 2px solid #b3ecff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

textarea {
  width: 97%;
  padding: 5px;
  border-radius: 5px;
  border-color: #00b3b3;
  font-size: 13px;
}

.heart {
  width: 20px;
}

.heart-div {
  margin-top: 7px;
}

.likes {
  position: absolute;
  margin-left: 6px;
}
