<div id="header">
  Flutter
</div>
<div class="feed">
  <div class="form feed-box">
    <textarea name="name" rows="5" cols="80" placeholder="What's on your mind?" #post ngModel></textarea>
    <img class="camera" src="https://cdn.pixabay.com/photo/2012/04/11/17/31/camera-29061_960_720.png" alt="camera">
    <input class="url-input" type="text" placeholder="Image url" #url ngModel>
    <img class="link-img" src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Chain_link_icon.png" alt="link">
    <input class="url-input link" type="text" placeholder="Link url" #link ngModel>

    <div (click)="addPost(post.value, url.value, link.value)" (click)="post.value = ''" (click)="url.value = ''" (click)="link.value = ''" class="submit">Submit</div>
  </div>
  <div class="feed-box" *ngFor="let post of postArray">
    {{post.text}}
      <div *ngIf="post.image">
        <img class="post-image" src="{{post.image}}" alt="image">
      </div>
      <div class="post-link" *ngIf="post.link">
        <a href="{{post.link}}" target="_blank" >{{post.shortLink}}</a>
      </div>

    <div class="heart-div">
      <img class="heart" src="https://image.flaticon.com/icons/png/512/275/275882.png" alt="Heart" (click)="likePost(post)"><span class="likes">{{post.likes}}</span>
      <img class="comment" src="http://www.clker.com/cliparts/e/D/y/m/U/t/speech-bubble-hi.png" alt="Comment" (click)="post.boolean = !post.boolean"> <span class="comments">{{post.comments.length}}</span> <span><input class="comment-input" type="text" placeholder="add comment..." #comment ngModel></span>
      <img class="check" src="https://cdn.pixabay.com/photo/2017/01/13/01/22/ok-1976099_960_720.png" alt="check" (click)="addComment(post, comment.value)" (click)="comment.value = ''">
    </div>
    <div class="" *ngIf="post.boolean">
        <div class="comment-div" *ngFor="let comment of post.comments">- {{comment}}</div>
    </div>
  </div>
</div>




<!-- <router-outlet></router-outlet> -->
