#header {
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  width: 100%;
  background: white;
  text-align: center;
  padding: 10px;
  margin: -10px -10px 10px -10px;
  border-bottom: 1px solid #a6a6a6;
}

.submit {
  text-align: center;
  width: 98%;
  background: #4d94ff;
  padding: 2px;
  border: 2px solid #4d94ff;
  border-radius: 30px;
  margin-top: 12px;
  /* margin-left: 68%; */
}

.feed {
  margin: 0 auto;
  width: 40%;
}

.feed-box {
  background: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.form.feed-box {
  background: #b3ecff;
  border: 2px solid #b3ecff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

textarea {
  width: 97%;
  padding: 5px;
  border-radius: 5px;
  border-color: #4d94ff;
  font-size: 13px;
}

.heart {
  width: 20px;
}

.comment {
  width: 18px;
  height: 20px;
  position: absolute;
  /* left: 30px; */
  margin-left: 30px;
}

.heart-div {
  margin-top: 7px;
}

.likes {
  position: absolute;
  margin-left: 6px;
}

.comment-input {
  position: absolute;
  margin-left: 55px;
}

.camera {
  width: 30px;
  position: relative;
  top: 8px;
}

.url-input {
  margin-left: 5px;
  border-radius: 3px;
  border-color: #4d94ff;
  border-width: thin;
  width: 91%;
  height: 17px;
  font-size: 12px;
}
